[Desktop Entry]
Name=HMCL
GenericName=Minecraft Launcher
Comment=A multi-functional, cross-platform Minecraft launcher.
Exec=hmcl
Icon=org.jackhuang.hmcl.Launcher
Terminal=false
Type=Application
Categories=Game;Java;
StartupWMClass=org.jackhuang.hmcl.Launcher