[Desktop Entry]
Name=HMCL
GenericName=Hello Minecraft! Launcher
Comment=Hello Minecraft! Launcher
Exec=hmcl
Icon=org.jackhuang.hmcl.Launcher
Terminal=false
Type=Application
Categories=Game;Java;
StartupWMClass=org.jackhuang.hmcl.Launcher